* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 20px;
}

button {
  margin: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-container {
  display: flex;
  width: 700px;
  height: 700px;
  flex-wrap: wrap;
  align-content: center;
}

.square {
  background-color: red;
  border: 1px solid black;
}

.square-hover {
  background-color: blue;
}
